body {
    background-color: #e4d2c9;
    font-family: Comic Sans MS, cursive, sans-serif;
    color: #a7090f;
    margin: 0;
    padding: 0;
    cursor: url("Images/Normal-Select.png"), auto;
}

#header {
    background-color: #a7090f;
    color: #e4d2c9;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 72px;
}

#gallery {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    margin: 10px;
    border: 5px solid #a7090f;
    box-shadow: 5px 5px #ea0506;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.5s;
    width: 300px;
    height: 300px;
}

.gallery-item:hover {
    transform: scale(1.1);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#footer {
    background-color: #e0a19f;
    color: #9d0c11;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}